@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Varela+Round&display=swap');

html {
  font-size: 14px;
  background: #72cbdb;
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;

}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Varela Round', sans-serif;
}

h1 {
  text-align: center;
  font-size: 1.8rem;
}

h2 {
  text-align: center;
  font-size: 1.6rem;
}

.phone {
  width: 100%;
  max-width: 1400px;
  box-sizing: border-box;
  margin: 16px auto;
  border-radius: 40px;
  padding: 16px 0px;
  padding-bottom: 16px;
  background: #F5F8FF;
  color: #686868;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.08);
}

.phone-center {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
    margin-top: 2em;
}

.dialog-box {
  background: white;
  box-sizing: border-box;
  padding: 16px 24px;
  margin: 32px auto;
  position: relative;
  border-radius: 40px;
  max-width: 800px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.08);
}

.dialog-box-lng {
  text-align: center;
}

.dialog-box-lng p,
.dialog-box-lng select {
  display: inline;
}

.dialog-box-lng select {
  font-size: 1rem;
  padding: 4px;
  font-weight: bold;
  border-radius: 4px;
  border-color: #DEF2D9;
  color: #837865;
  cursor: pointer;
  
}

.dialog-box-lng select:hover {
  background-color: #EBFEFD;
  border-color: #5ECEDB;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
}

.dialog-box-lng select:focus {
  outline: none;
}

.dialog-box p {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 1rem;
  color: #837865;
  letter-spacing: 0.2px;
  line-height: 1.8rem;
}

.dialog-box b,
.dialog-box a {
  color: #0AB5CD;
  
}

.dialog-box i {
  font-style: normal;
  color: #aaa;
}

.dialog-box a:hover {
  color: #5ECEDB
}

.dialog-box .dialog-box__name {
  position: absolute;
  left: 16px;
  top: -28px;
  font-size: 1rem;
  color: #3a3a3a;
  padding: 4px 16px;
  background: #d8d8d8;
  border-radius: 40px;
}

.input__form {
  background: white;
  display: flex;
  flex-direction: column;
  padding: 16px;
  align-items: center;
}

.form__row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
  justify-content: center;
  align-items: center;
}

.form__row h6 {
  width: 100%;
  display: block;
  font-weight: 800;
  font-size: 1.25rem;
  margin: 8px auto;
  color: #845E44;
  text-align: center;
}

.form__flex-wrap {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1080px;
  justify-content: center;
}


.form__flex-wrap .input__group label {
  margin-left: 0px;
  margin-bottom: 8px;
}

input[type=text]:placeholder-shown {
  background: #f3f3f3;
}

input[type=text]:not(:placeholder-shown) {
  background: transparent;
  color: #0AB5CD;
}

input[type=text]:placeholder-shown:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.2s all;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.09);
}

input[type=text]:focus {
  outline: none;
  transform: scale(1.1);
  transition: 0.2s all;
  background: white;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.09);
}

input[type=text]:focus::placeholder {
  opacity: 0;
}

input[type=text] {
  width: 200px;
  text-align: center;
}

input[type=text]:disabled {
  background: inherit;
}

input[type=text]:disabled:hover {
  box-shadow: none;
  transform: none;
  cursor: default;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=text] {
  -moz-appearance: textfield;
}

.input__radio-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 8px;
}

.input__radio-buttons input[type=radio] {
  display: none;
}

.input__radio-buttons input[type="radio"]+label {
  opacity: 1;
  border: none;
  border-radius: 40px;
  background: #F3F3F3;
  padding: 8px 16px;
  font-size: 1.25rem;
  font-family: inherit;
  font-weight: bold;
  
  margin: 8px;
}

.input__radio-buttons input[type="radio"]:not(:checked)+label:hover {
  cursor: pointer;
  background: #F5F8FF;
  transform: scale(1.1);
  transition: 0.2s all;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.09);
}

.input__radio-buttons input[type="radio"]:checked+label {
  background: #0AB5CD;
  color: #FFF;
}

.input__checkbox-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 8px;
}

.input__checkbox-buttons input[type=checkbox] {
  display: none;
}

.input__checkbox-buttons input[type="checkbox"]+label {
  opacity: 1;
  border: none;
  border-radius: 40px;
  background: #F3F3F3;
  padding: 8px 16px;
  font-size: 1.25rem;
  font-family: inherit;
  font-weight: bold;
  
  margin: 8px;
}

.input__checkbox-buttons input[type="checkbox"]:not(:checked)+label:hover {
  cursor: pointer;
  background: #F5F8FF;
  transform: scale(1.1);
  transition: 0.2s all;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.09);
}

.input__checkbox-buttons input[type="checkbox"]:checked+label {
  background: #4cd24c;
  color: #FFF;
}

.button {
  color: #fff9f9;
  font-family: inherit;
  font-weight: bold;
  padding: 8px 16px;
  border-width: 0px;
  border-radius: 40px;
  background: #ff6a68;
  font-size: 1.2rem;
  
  position: relative;
  margin: 16px auto;
  display: block;
}

.button_valid {
  color: #fff9f9;
  font-family: inherit;
  font-weight: bold;
  padding: 8px 16px;
  border-width: 0px;
  border-radius: 40px;
  background: #1ecf62;
  font-size: 1.2rem;
  
  position: relative;
  margin: 16px auto;
  display: block;
}

.button_valid:hover {
  transform: scale(1.1);
  cursor: pointer;
  opacity: 1;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.09);
  transition: 0.2s all;
}

.button:hover {
  transform: scale(1.1);
  cursor: pointer;
  opacity: 1;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.09);
  transition: 0.2s all;
}

button:focus {outline:0;}

select:focus {outline:0;}

.button.button--reset {
  color: #E45B5B;
}

select {
  font-size: large;
}

.day, #weekdays p {
  width: calc(100% / 7);
  min-width: 77px;
}


.topExt:not(.task1) {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: 1px solid white;
}

.botExt:not(.task1) {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 1px solid white;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#over-hour {
  font-size: 30px;
}

#over-text, #over-text p {
  margin: 20px 0px;
}

#hourCol, p#emptyDay {
  width: 5%;
  text-align: right;
}

#hourCol {
  height: 908px;
}

.overlay-buttons {
  text-align: center;
}

.overlay-buttons .button {
  margin: 5px;
}

#over-details {
  font-size: 15px;
}

#over-details p {
  margin: 10px 0px;
  height: 0px;
  text-align: center;
  padding: 4px 0px;
  font-family: 'Varela Round', sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: rgb(36, 36, 36);
}

#over-square{
  vertical-align: top;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  width: 50%;
  height: 40%;
  min-height: 336px;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: rgb(36, 36, 36);
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}


.dialog-box p {

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.hidden, .hidden:hover {
  transition: opacity 1s ease-out;
  opacity: 0;
  overflow: hidden;
}
.visible {
  transition: opacity 1s ease-out;
  opacity: 1;
}